@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@300;400;700&display=swap');

* { 
    font-family: 'comfortaa', sans-serif !important;
}

.background-color-73171F { 
    background-color: #73171F;
}

.text-color-73171F { 
    color: #73171F;
}

.text-color-f2f2f2 {
    color: #F2F2F2 !important;
}

.background-gg {
    background-color: #F291A3 ;
}
